footer {
  background: #EFEFEF;
  min-height: 144px;
  height: fit-content;

  .footer__organization {
    margin: 30px 0 0;
    font-size: 14px;
  }

  .footer__policy {
    width: 270px;

    a {
      text-wrap: nowrap;
      text-decoration: underline;
      cursor: pointer;
      color: black;
    }
  }

  .footer__info {
    display: flex;
    justify-content: space-between;
  }

  .container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 20px;
  }

  .footer__contacts-item {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;

    svg {
      min-width: 24px;
    }
  }
}

.address {
  max-width: 260px;
  align-items: flex-start !important;

  span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.footer__policy {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.footer__contacts {
  display: flex;
  gap: 50px;

  @media (max-width: 550px) {
    flex-direction: column;
    gap: 30px;
  }

  .footer__contacts-column {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  footer .footer__banner-text {
    font-size: 16px;
  }
}