header {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: calc(100vw - 17px);
  z-index: 3;
  display: flex;
  align-items:center;
  flex-direction: column;

  @media (max-width: 540px) {
    height: 85px;
  }

  .header__logo {
    justify-content: center;
    align-items: center;

    @media (max-width: 550px) {
      width: fit-content;
      justify-content: start; 
    }
  }

  .header__info {
    display: flex;
    gap: 30px;
    flex-direction: column;

    @media (max-width: 550px) {
      display: none;
    }

    &-worktime,
    &-cityname {
      display: flex;
      gap: 10px;

      div {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);

        span {
          color: black;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    width: 100%;
  }

  .header__cart-contacts {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    flex-direction: column;

    @media (max-width: 550px) {
      gap: 4px;

      div {
        text-align: end;
        color: rgba(0, 0, 0, 0.5);

        span {
          color: black;
        }
      }
    }

    .header__contacts {
      text-decoration: none;
      font-size: 20px;
      color: black;

      @media (max-width: 550px) {
        font-size: 14px;
        // text-decoration: underline;
        border-bottom: 1px solid black;
      }
    }
  }

  .container {
    background: white;

    .go-back {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      color: black;
      height: 100%;
      max-height: 78px;

      svg path {
        transition: stroke 0.1s ease;
      }

      &:hover {
        svg path {
          stroke: black
        }
      }
    }
  }

  .link {
    text-decoration: none;
  }

  hr {
    width: 100%;
    opacity: 0.3;
  }

  div.container {
    // animation: grow-progress linear none;
    // animation-timeline: scroll(y root);
    // animation-timing-function: ease-in-out;
    // animation-duration: 400ms;
    // animation-range: cover cover 200px;

    height: 114px;
    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    align-items: center;

    @media (max-width: 550px) {
      grid-template-columns: repeat(2, minmax(50px, 1fr));
      height: 85px;
    }

    a {
      display: flex;
      align-items: center;
      max-height: 78px;
      height: 90%;

      @media (max-width: 550px) {
        height: unset;
      }

      @media (max-width: 768px) {
        max-height: 55px;
      }

      img {
        height: inherit;
        max-height: 78px;
        max-width: 250px;
        object-fit: contain;

        @media (max-width: 768px) {
          max-height: none;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .cart {
    display: flex;

    @media (max-width: 550px) {
      display: none;
    }

    a {
      min-width: 290px;
    }

    .empty {
      background-color: white;
      color: black;
      border: 1px solid #E4E4E4;
      width: 290px;
      border-radius: 5px;
      display: flex;
      height: 40px;
      gap: 5px;
      align-items: center;
      justify-content: center;
      padding: 0 10px 0 20px;
    }

    .not_empty {
      cursor: pointer;
      background-color: black;
      color: white;
      width: fit-content;
      //gap: 10px;
      height: 40px;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      border: none;
      padding: 0 10px 0 20px;
      transition: 250ms;
      -webkit-transition: 250ms;
      -moz-transition: 250ms;
      -ms-transition: 250ms;
      -o-transition: 250ms;
      text-decoration: none;

      svg path {
        transition: 250ms;
        -webkit-transition: 250ms;
        -moz-transition: 250ms;
        -ms-transition: 250ms;
        -o-transition: 250ms;
      }

      &:hover {
        background-color: white;
        color: #1C1C1C;
        outline: 1px solid #E4E4E4;

        svg path {
          fill: #1C1C1C;
        }
      }
    }

    &__info {
      // margin-top: 2px;
      gap: 6px;
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      margin-left: 10px;

      @media (max-width: 1024px) {
        flex-direction: column;

        p,
        &-text {
          text-wrap: nowrap;
        }
      }

      &-text {
        font-size: 15px;
        font-weight: 500;
        margin-left: 5px;
        margin-bottom: 0;
      }

      &-count {
        font-size: 14px;
        font-weight: 400;
      }

      &-price {
        font-size: 16px;
        font-weight: 500;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

.header-margin {
  margin-top: 120px;
}

@keyframes grow-progress {
  0% {
    height: 114px;
  }

  100% {
    height: 60px;
  }
}