.order-input{
  display: grid;
  grid-template-columns: 66% 1fr;
  flex-grow: 1;
  gap: 20px;
  margin-top: 0 !important;
  &__row{
    margin-bottom: 30px;
    &-title{
      margin-bottom:14px;
      font-weight: 500;
    }

    .card-checkbox {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100% !important;
      input {
        width: 24px;
        border-radius: 5px;
        height: 24px;
        cursor: pointer;
        border: 1px solid black;
        -webkit-appearance: none;
        transition: background 0.4s ease;
        &:checked {
          background-color: black;
          background-image: url("../images/checkbox-active.png");
          background-repeat: no-repeat;
          background-size: 100%;
          background-position-x: center;
          background-position-y: center;
        }
      }
      label {
        cursor: pointer;
      }
    }
  }

  &__container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    .form-group{
      flex-grow: 1;
      width: 45%;
      height: fit-content;
      input:not(input[type=radio]):not(input[type=checkbox]), textarea {
        width: 100%;
        background: white;
        border-radius: 5px;
        border: none;
        outline: 1px solid #B9B9B9;
        min-height: 36px;
        padding: 0 12px;
        color: black;
      }
      textarea {
        padding-top: 12px;
        width: calc(50% - 5px);
        min-height: 110px;
        resize: none;
      }

      &.form-group-textarea {
        width: 100%;
      }
    }
    .select2{
      width: 100%;
      background: white;
      border-radius: 5px;
      border: none;
      outline: 1px solid #B9B9B9;
      min-height: 36px;
      padding: 0 12px;
      color: black;
      option{
        padding: 6px;
        user-select: none;
      }
    }
  }

  &__date {
    .select2-container {
      display: block;
    }
    span,li {
      font-size: 14px;
    }
  }
}

.block-courier{
  div {
    flex-grow: 1;
    width: 45%;
    height: fit-content;
  }

  &-select  {
    margin: 10px 0;
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    gap: 10px;
    .select2-container {
      display: block;
      width: auto!important;
    }
  }
}

.block-pickup{
  .card-checkbox {
    margin-bottom: 5px;
  }
}

.block-courier{
  width: 100%;
}

.payments__rows {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .payments__row {
    height: 50px;
    padding: 0 12px;
    background: white;
    border: 1px solid #B9B9B9;
    border-radius: 5px;
    label {
      width: 100%;
      gap: 14px;
      align-items: center;
      display: flex;
    }
  }
}


